@charset "UTF-8";

/*
PALETA DE CORES
    VERDE: #49A09D
    LILÃS: #5F2C82
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 260px;
    height: 515px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.664);
    
    transition-timing-function: ease;
    transition: width 0.4s, height 0.4s;
}
section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/background.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
}
section#login > div#formulario {
    display: block;
    padding: 10px;
}
div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}
div#formulario > p{
    font-size: 0.8em;
}
div.campo > label {
    display: none;
}
div.campo > span{
    color: white;
    font-size: 2em;
    width: 40px;
    text-align: center;
}
div.campo > input{
    background-color: #62dbd7;
    font-size: 1em;
    width: calc(100% - 44.7px);
    
    height: 100%;
    border-radius: 8px;
    transform: translatey(-5px);
}
div.campo > input:focus-within{
    background-color: white;
}
input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: #377976;
}
form > div.campo{
    background-color: #5f2c82;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}
a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #62dbd7;
    border: 1px solid #49a09d;
    border-radius: 5px;
    color: #214947;
    margin-top: 5px ;
    padding: 5px;
    text-align: center;
    text-decoration: none;

}
a.botao:hover{
    background-color: #49a5a2;
}
form > a.botao > span{
    font-size: 0.8em;
}